@font-face {
  font-family: "Brave";
  src: local("brave"),
    url("./fonts/brave.ttf") format("truetype");
  font-weight: bold;
}

* {
  color: white;
}

.title {
  font-family: 'Brave';
  color: white;
}